Back/Back1.bmp
Back/Back2.bmp
Back/Back3.bmp
Back/Back4.bmp
Back/Back5.bmp
Back/Back6.bmp
Gfx/Cursors/cxl_waiting.ani
Interface/Fonts/Asian/gfxfontlib.gfx
Interface/Fonts/CentralEurope/gfxfontlib.gfx
Interface/Fonts/gfxfontlib.gfx
Interface/Fonts/gfxfontlib_en.gfx
Interface/Video/Intro.bik
Interface/Video/LogoCXL.bik
Interface/Video/LogoFocus.bik
Interface/Video/LogoMonteCristo.bik
Localization/DE/Advisors.de
Localization/DE/Agents.de
Localization/DE/AlerteSimInterface.de
Localization/DE/BP.de
Localization/DE/Bubble_Saynetes.de
Localization/DE/BuildingNames.de
Localization/DE/BuildingTypes.de
Localization/DE/CXL2011Addenda.de
Localization/DE/DynamicLoc.de
Localization/DE/DynamicLoc_Achievements.de
Localization/DE/DynamicLoc_LayerLegnds.de
Localization/DE/DynamicLoc_TradeMessages.de
Localization/DE/GemGeneral_DynamicLoc.de
Localization/DE/HotFixLoc.de
Localization/DE/InterfaceAddenda2012.de
Localization/DE/InterfaceHints.de
Localization/DE/Interface_Gemski.de
Localization/DE/Launcher.de
Localization/DE/MapsNames.de
Localization/DE/Marketing.de
Localization/DE/MessageZone.de
Localization/DE/MessageZone_Gemski.de
Localization/DE/Placement.de
Localization/DE/PlacementHints.de
Localization/DE/PlatinumAddenda.de
Localization/DE/Report.de
Localization/DE/Resources.de
Localization/DE/Tips.de
Localization/DE/ToDo_PatchMS25.de
Localization/DE/Tutorial.de
Localization/DE/TutorialPopups.de
Localization/DE/Tutorial_Gembeach.de
Localization/DE/Tutorial_Gemski.de
Localization/DE/Tutorial_Planet.de
Localization/DE/Tutorial_Web.de
Localization/DE/UnlockConditions.de
Localization/EN/Agents.en
Localization/EN/AlerteSimInterface.en
Localization/EN/BP.en
Localization/EN/Bubble_Saynetes.en
Localization/EN/BuildingNames.en
Localization/EN/BuildingTypes.en
Localization/EN/CXL2011Addenda.en
Localization/EN/DynamicLoc.en
Localization/EN/DynamicLoc_Achievements.en
Localization/EN/DynamicLoc_LayerLegnds.en
Localization/EN/DynamicLoc_TradeMessages.en
Localization/EN/GemGeneral_DynamicLoc.en
Localization/EN/HotFixLoc.en
Localization/EN/InterfaceAddenda2012.en
Localization/EN/InterfaceHints.en
Localization/EN/Interface_Gemski.en
Localization/EN/Launcher.en
Localization/EN/MapsNames.en
Localization/EN/Marketing.en
Localization/EN/MessageZone.en
Localization/EN/MessageZone_Gemski.en
Localization/EN/Placement.en
Localization/EN/PlacementHints.en
Localization/EN/PlatinumAddenda.en
Localization/EN/Resources.en
Localization/EN/Tips.en
Localization/EN/ToDo.en
Localization/EN/ToDo_PatchMS25.en
Localization/EN/Tutorial.en
Localization/EN/TutorialPopups.en
Localization/EN/Tutorial_Gemski.en
Localization/EN/Tutorial_Planet.en
Localization/EN/UnlockConditions.en
Localization/EN/advisors.en
Localization/EN/report.en
Localization/ES/Agents.es
Localization/ES/AlerteSimInterface.es
Localization/ES/BP.es
Localization/ES/Bubble_Saynetes.es
Localization/ES/BuildingNames.es
Localization/ES/BuildingTypes.es
Localization/ES/CXL2011Addenda.es
Localization/ES/DynamicLoc.es
Localization/ES/DynamicLoc_Achievements.es
Localization/ES/DynamicLoc_LayerLegnds.es
Localization/ES/DynamicLoc_TradeMessages.es
Localization/ES/GemGeneral_DynamicLoc.es
Localization/ES/HotFixLoc.es
Localization/ES/InterfaceAddenda2012.es
Localization/ES/InterfaceHints.es
Localization/ES/Interface_Gemski.es
Localization/ES/Launcher.es
Localization/ES/MapsNames.es
Localization/ES/Marketing.es
Localization/ES/MessageZone.es
Localization/ES/MessageZone_Gemski.es
Localization/ES/Placement.es
Localization/ES/PlacementHints.es
Localization/ES/PlatinumAddenda.es
Localization/ES/Resources.es
Localization/ES/Tips.es
Localization/ES/ToDo.es
Localization/ES/ToDo_PatchMS25.es
Localization/ES/TranslateAutorun_SPA.loc
Localization/ES/Tutorial.es
Localization/ES/TutorialPopups.es
Localization/ES/Tutorial_Gemski.es
Localization/ES/Tutorial_Planet.es
Localization/ES/UnlockConditions.es
Localization/ES/advisors.es
Localization/ES/report.es
Localization/FR/Agents.fr
Localization/FR/AlerteSimInterface.fr
Localization/FR/BP.fr
Localization/FR/Bubble_Saynetes.fr
Localization/FR/BuildingNames.fr
Localization/FR/BuildingTypes.fr
Localization/FR/CXL2011Addenda.fr
Localization/FR/DynamicLoc.fr
Localization/FR/DynamicLoc_Achievements.fr
Localization/FR/DynamicLoc_LayerLegnds.fr
Localization/FR/DynamicLoc_TradeMessages.fr
Localization/FR/GemGeneral_DynamicLoc.fr
Localization/FR/HotFixLoc.fr
Localization/FR/InterfaceAddenda2012.fr
Localization/FR/InterfaceHints.fr
Localization/FR/Interface_Gemski.fr
Localization/FR/Launcher.fr
Localization/FR/MapsNames.fr
Localization/FR/Marketing.fr
Localization/FR/MessageZone.fr
Localization/FR/MessageZone_Gemski.fr
Localization/FR/MessagesInfo.fr
Localization/FR/Placement.fr
Localization/FR/PlacementHints.fr
Localization/FR/PlatinumAddenda.fr
Localization/FR/Resources.fr
Localization/FR/Tips.fr
Localization/FR/ToDo.fr
Localization/FR/ToDo_PatchMS25.fr
Localization/FR/Tutorial.fr
Localization/FR/TutorialPopups.fr
Localization/FR/Tutorial_Gemski.fr
Localization/FR/Tutorial_Planet.fr
Localization/FR/UnlockConditions.fr
Localization/FR/advisors.fr
Localization/FR/report.fr
Localization/IT/Agents.it
Localization/IT/AlerteSimInterface.it
Localization/IT/BP.it
Localization/IT/Bubble_Saynetes.it
Localization/IT/BuildingNames.it
Localization/IT/BuildingTypes.it
Localization/IT/CXL2011Addenda.it
Localization/IT/DynamicLoc.it
Localization/IT/DynamicLoc_Achievements.it
Localization/IT/DynamicLoc_LayerLegnds.it
Localization/IT/DynamicLoc_TradeMessages.it
Localization/IT/GemGeneral_DynamicLoc.it
Localization/IT/HotFixLoc.it
Localization/IT/InterfaceAddenda2012.it
Localization/IT/InterfaceHints.it
Localization/IT/Interface_Gemski.it
Localization/IT/Launcher.it
Localization/IT/MapsNames.it
Localization/IT/Marketing.it
Localization/IT/MessageZone.it
Localization/IT/MessageZone_Gemski.it
Localization/IT/Placement.it
Localization/IT/PlacementHints.it
Localization/IT/PlatinumAddenda.it
Localization/IT/Resources.it
Localization/IT/Tips.it
Localization/IT/ToDo.it
Localization/IT/ToDo_PatchMS25.it
Localization/IT/TranslateAutorun_ITA.loc
Localization/IT/Tutorial.it
Localization/IT/TutorialPopups.it
Localization/IT/Tutorial_Gemski.it
Localization/IT/Tutorial_Planet.it
Localization/IT/UnlockConditions.it
Localization/IT/advisors.it
Localization/IT/report.it
Localization/PL/Agents.pl
Localization/PL/AlerteSimInterface.pl
Localization/PL/BP.pl
Localization/PL/Bubble_Saynetes.pl
Localization/PL/BuildingNames.pl
Localization/PL/BuildingTypes.pl
Localization/PL/DynamicLoc.pl
Localization/PL/DynamicLoc_Achievements.pl
Localization/PL/DynamicLoc_LayerLegnds.pl
Localization/PL/DynamicLoc_TradeMessages.pl
Localization/PL/GemGeneral_DynamicLoc.pl
Localization/PL/HotFixLoc.pl
Localization/PL/InterfaceAddenda2012.pl
Localization/PL/InterfaceHints.pl
Localization/PL/Interface_Gemski.pl
Localization/PL/Launcher.pl
Localization/PL/MapsNames.pl
Localization/PL/Marketing.pl
Localization/PL/MessageZone.pl
Localization/PL/Placement.pl
Localization/PL/PlacementHints.pl
Localization/PL/PlatinumAddenda.pl
Localization/PL/Resources.pl
Localization/PL/Tips.pl
Localization/PL/ToDo.pl
Localization/PL/ToDo_PatchMS25.pl
Localization/PL/Tutorial.pl
Localization/PL/TutorialPopups.pl
Localization/PL/Tutorial_Planet.pl
Localization/PL/UnlockConditions.pl
Localization/PL/advisors.pl
Localization/PL/report.pl
Localization/TW/Agents.tw
Localization/TW/AlerteSimInterface.tw
Localization/TW/BP.tw
Localization/TW/Bubble_Saynetes.tw
Localization/TW/BuildingNames.tw
Localization/TW/BuildingNames_FR_CXL2012.tw
Localization/TW/BuildingNames_UK_CXL2012.tw
Localization/TW/BuildingTypes.tw
Localization/TW/CXL2011Addenda.tw
Localization/TW/DynamicLoc.tw
Localization/TW/DynamicLoc_Achievements.tw
Localization/TW/DynamicLoc_LayerLegnds.tw
Localization/TW/DynamicLoc_TradeMessages.tw
Localization/TW/GemGeneral_DynamicLoc.tw
Localization/TW/HotFixLoc.tw
Localization/TW/InterfaceAddenda2012.tw
Localization/TW/InterfaceHints.tw
Localization/TW/Interface_Gemski.tw
Localization/TW/Launcher.tw
Localization/TW/MapsNames.tw
Localization/TW/MapsNames2012.tw
Localization/TW/Marketing.tw
Localization/TW/MessageZone.tw
Localization/TW/MessageZone_Gemski.tw
Localization/TW/Placement.tw
Localization/TW/PlacementHints.tw
Localization/TW/PlatinumAddenda.tw
Localization/TW/Resources.tw
Localization/TW/Tips.tw
Localization/TW/ToDo.tw
Localization/TW/ToDo_PatchMS25.tw
Localization/TW/Tutorial.tw
Localization/TW/TutorialPopups.tw
Localization/TW/Tutorial_Gemski.tw
Localization/TW/Tutorial_Planet.tw
Localization/TW/UnlockConditions.tw
Localization/TW/advisors.tw
Localization/TW/report.tw
Sound/Ambiance/SoundDB.INI
Sound/Ambiance/ambiance_wind.mp3
Sound/Ambiance/ambience_city_traffic_01.wav
Sound/Ambiance/ambience_city_traffic_02.wav
Sound/Ambiance/ambience_city_traffic_03.wav
Sound/Ambiance/ambience_city_traffic_04.wav
Sound/Ambiance/ambience_city_traffic_05.wav
Sound/Ambiance/ambience_fire_01.wav
Sound/Ambiance/ambience_fire_02.wav
Sound/Ambiance/ambience_fire_03.wav
Sound/Ambiance/ambience_fire_04.wav
Sound/Ambiance/ambience_fire_05.wav
Sound/Ambiance/ambience_fire_06.wav
Sound/Ambiance/ambience_fire_07.wav
Sound/Ambiance/ambience_fire_08.wav
Sound/Ambiance/ambience_fire_09.wav
Sound/Ambiance/ambience_fire_10.wav
Sound/Ambiance/ambience_fire_11.wav
Sound/Ambiance/ambience_fire_12.wav
Sound/Ambiance/ambience_fire_13.wav
Sound/Ambiance/ambience_fire_14.wav
Sound/Ambiance/ambience_fire_15.wav
Sound/Ambiance/ambience_fire_16.wav
Sound/Ambiance/ambience_horn_001.wav
Sound/Ambiance/ambience_horn_002.wav
Sound/Ambiance/ambience_horn_003.wav
Sound/Ambiance/ambience_horn_004.wav
Sound/Ambiance/ambience_horn_005.wav
Sound/Ambiance/ambience_horn_006.wav
Sound/Ambiance/ambience_horn_007.wav
Sound/Ambiance/ambience_horn_008.wav
Sound/Ambiance/ambience_horn_009.wav
Sound/Ambiance/ambience_horn_010.wav
Sound/Ambiance/ambience_motorway_01.wav
Sound/Ambiance/ambience_motorway_02.wav
Sound/Ambiance/ambience_motorway_03.wav
Sound/Ambiance/ambience_motorway_04.wav
Sound/Ambiance/ambience_motorway_05.wav
Sound/Ambiance/ambience_motorway_06.wav
Sound/Ambiance/ambience_pedestrian_01.wav
Sound/Ambiance/ambience_pedestrian_02.wav
Sound/Ambiance/ambience_pedestrian_03.wav
Sound/Ambiance/ambience_pedestrian_04.wav
Sound/Ambiance/ambience_pedestrian_05.wav
Sound/Ambiance/ambience_sea_01.wav
Sound/Ambiance/ambience_sea_02.wav
Sound/Effect/AtmosphereSoundDB.INI
Sound/Effect/SelectSoundDB.INI
Sound/Effect/SoundDB.INI
Sound/Effect/atmBeach.wav
Sound/Effect/atmCounty.wav
Sound/Effect/atmDeepSpace.wav
Sound/Effect/atmMountain.wav
Sound/Effect/atmTraffic1.wav
Sound/Effect/atmTraffic2.wav
Sound/Effect/atmTraffic3.wav
Sound/Effect/atmTraffic4.wav
Sound/Effect/atmTraffic5.wav
Sound/Effect/selAirportCo.wav
Sound/Effect/selBeachBar.wav
Sound/Effect/selBeachBoat.wav
Sound/Effect/selBeachFun.wav
Sound/Effect/selBeachHotel.wav
Sound/Effect/selBeachShop.wav
Sound/Effect/selBuildingSite.wav
Sound/Effect/selBusCo.wav
Sound/Effect/selElec.wav
Sound/Effect/selFactory.wav
Sound/Effect/selFarm.wav
Sound/Effect/selFireDept.wav
Sound/Effect/selHealth .wav
Sound/Effect/selHealth.wav
Sound/Effect/selHomeMedium.wav
Sound/Effect/selHomePoor.wav
Sound/Effect/selHomeRich.wav
Sound/Effect/selHotel.wav
Sound/Effect/selLeisure.wav
Sound/Effect/selLeisureAmusement.wav
Sound/Effect/selLeisureBar.wav
Sound/Effect/selLeisureSport.wav
Sound/Effect/selMetroCo.wav
Sound/Effect/selOffice.wav
Sound/Effect/selOil.wav
Sound/Effect/selPark.wav
Sound/Effect/selPolice.wav
Sound/Effect/selSchool.wav
Sound/Effect/selShop.wav
Sound/Effect/selSkiBar.wav
Sound/Effect/selSkiCo.wav
Sound/Effect/selSkiFun.wav
Sound/Effect/selSkiHelico.wav
Sound/Effect/selSkiHotel.wav
Sound/Effect/selSkiLine1.wav
Sound/Effect/selSkiLine2.wav
Sound/Effect/selSkiLine3.wav
Sound/Effect/selSkiMachine.wav
Sound/Effect/selSkiShop.wav
Sound/Effect/selSkiSlope.wav
Sound/Effect/selStock.wav
Sound/Effect/selTownhall.wav
Sound/Effect/selWaste.wav
Sound/Effect/selWater.wav
Sound/Effect/uiBuildingPlacedLarge.wav
Sound/Effect/uiBuildingPlacedMedium.wav
Sound/Effect/uiBuildingPlacedSmall.wav
Sound/Effect/uiChipsDown.wav
Sound/Effect/uiChipsUp.wav
Sound/Effect/uiCitizenIn.wav
Sound/Effect/uiCitizenOut.wav
Sound/Effect/uiClick1.wav
Sound/Effect/uiClick2.wav
Sound/Effect/uiClick3.wav
Sound/Effect/uiClick4.wav
Sound/Effect/uiCoDying.wav
Sound/Effect/uiCoIn.wav
Sound/Effect/uiCoOut.wav
Sound/Effect/uiConnexionKo.wav
Sound/Effect/uiConnexionOk .wav
Sound/Effect/uiConnexionOk.wav
Sound/Effect/uiDrop.wav
Sound/Effect/uiHide1.wav
Sound/Effect/uiHide2.wav
Sound/Effect/uiMoneyIn.wav
Sound/Effect/uiMoneyInShort.wav
Sound/Effect/uiMoneyOut.wav
Sound/Effect/uiNo1.wav
Sound/Effect/uiNo2.wav
Sound/Effect/uiNo3.wav
Sound/Effect/uiNo4.wav
Sound/Effect/uiPickUp.wav
Sound/Effect/uiTouristIn.wav
Sound/Effect/uiTouristOut.wav
Sound/Interface/SoundDB.INI
Sound/Interface/ambience_city_traffic_05.wav
Sound/Interface/clic_bobos_entertainment1_01.wav
Sound/Interface/clic_environment_08.wav
Sound/Interface/clic_house1_05.wav
Sound/Interface/clic_procurement_01.wav
Sound/Interface/loop_education0_01.wav
Sound/Interface/loop_firedep1_01.wav
Sound/Interface/loop_fringe_industry2_1_01.wav
Sound/Interface/loop_health1_01.wav
Sound/Interface/loop_mediabuilding1_01.wav
Sound/Interface/loop_procurement2_01.wav
Sound/Interface/loop_suits_entertainment2_01.wav
Sound/Interface/random_health_03.wav
Sound/Interface/random_security_35.wav
Sound/Interface/ui_back.wav
Sound/Interface/ui_delete.wav
Sound/Interface/ui_failed.wav
Sound/Interface/ui_game_clic_1.wav
Sound/Interface/ui_game_clic_2.wav
Sound/Interface/ui_game_clic_3.wav
Sound/Interface/ui_game_clic_4.wav
Sound/Interface/ui_game_destroy.wav
Sound/Interface/ui_game_f1.wav
Sound/Interface/ui_game_f2.wav
Sound/Interface/ui_game_hide.wav
Sound/Interface/ui_game_menu.wav
Sound/Interface/ui_game_over.wav
Sound/Interface/ui_game_pause.wav
Sound/Interface/ui_game_place.wav
Sound/Interface/ui_game_play.wav
Sound/Interface/ui_game_show.wav
Sound/Interface/ui_game_view.wav
Sound/Interface/ui_game_warning.wav
Sound/Interface/ui_over.wav
Sound/Interface/ui_photo.wav
Sound/Interface/ui_succeed.wav
Sound/Interface/ui_valid.wav
Sound/Music/CityLife OST/CityLife OST.m3u
Sound/Music/Credits.mp3
Sound/Music/SoundDB.INI
Sound/Music/XL/CXL_01_maintheme.mp3
Sound/Music/XL/CXL_02_pastoral.mp3
Sound/Music/XL/CXL_03_doing_well1.mp3
Sound/Music/XL/CXL_04_doing_well2.mp3
Sound/Music/XL/CXL_05_doing_well3.mp3
Sound/Music/XL/CXL_06_industrial_revolution.mp3
Sound/Music/XL/CXL_07_poor_workers_lament.mp3
Sound/Music/XL/CXL_08_time_to_panic.mp3
Sound/Music/XL/CXL_09_gen_atmo1.mp3
Sound/Music/XL/CXL_10_gen_atmo2.mp3
Sound/Music/XL/CXL_11_gen_atmo3.mp3
Sound/Music/XL/CXL_12_gen_atmo4.mp3
Sound/Music/XL/CXL_13_gen_atmo5.mp3
Sound/Music/XL/CXL_14_outgame1.mp3
Sound/Music/XL/CXL_15_outgame2.mp3
Sound/Music/XL/CXL_16_outgame3.mp3
Sound/Music/XL/CXL_17_skitheme1.mp3
Sound/Music/XL/CXL_18_skitheme2_PRE.mp3
Sound/Music/XL/CXL_19_beachtheme1_PRE.mp3
Sound/Music/XL/CXL_21_attraction_parc1.mp3
Sound/Music/XL/CXL_23_jin_fire.mp3
Sound/Music/XL/CXL_24_jin_skiing.mp3
Sound/Music/XL/CXL_25_jin_beach.mp3
Sound/Music/XL/CXL_26_jin_city.mp3
Sound/Music/XL/CXL_28_jin_attraction_parc.mp3
Sound/Music/XL/CXL_29_jin_well_done.mp3
Sound/Music/XL/CXL_30_jin_bad.mp3
Sound/SoundDB.INI
